menuconfig MODULES_MC_SAFE_CONTROL
	bool "mc_safe_control"
	default n
	---help---
		Enable support for mc_safe_control

menuconfig USER_MC_SAFE_CONTROL
	bool "mc_safe_control running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_MC_SAFE_CONTROL
	---help---
		Put mc_safe_control in userspace memory
